@charset "UTF-8";
/* リキッドレイアウト対応 */

body {
  font-family: 'Noto Serif JP', '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', serif;
}

@media only screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
  }
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: all;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

html {
  word-wrap: break-word;
}

.catch-bg-base {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 2px 0;
  padding: 0.1875rem 0.125rem 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0.0625rem, #2c3240), color-stop(5.5rem, transparent));
  background: linear-gradient(to bottom, transparent 0 0.0625rem, #2c3240 0.0625rem 5.5rem, transparent 5.5rem 100%);
  position: relative;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 40px;
  top: 2.5rem;
  right: 0px;
  right: 0rem;
  z-index: 100;
}

.header__nav {
  background-color: #2c3240;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  padding: 0 2.5rem;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  position: relative;
}
.header__nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 140px;
  width: 8.75rem;
  height: 2px;
  height: 0.125rem;
  background-color: #da1c1c;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media (any-hover: hover) {
  .header__nav-item:hover::after {
    opacity: 1;
  }
}

.header__nav-link {
  display: block;
  padding: 13px 15px;
  padding: 0.8125rem 0.9375rem;
  min-width: 140px;
  min-width: 8.75rem;
  text-align: center;
  font-family: 'Noto Serif JP', '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', serif;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  line-height: 1.8;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media (any-hover: hover) {
  .header__nav-link:hover {
    opacity: 0.7;
  }
}

.inner {
  max-width: 1450px;
  max-width: 90.625rem;
  padding: 0 24px;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .inner {
    max-width: 37.5rem;
    padding: 0 20px;
  }
}

.top-content {
  overflow: hidden;
  --section-margin: rem(100);
  --section-margin: rem(100);
}

.fv {
  position: relative;
  z-index: 2;
  width: 100%;
}

.fv__inner {
  max-width: 1920px;
  max-width: 120rem;
  padding: 0 40px;
  padding: 0 2.5rem;
  margin-inline: auto;
}

.fv__grids {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 2.5rem 1fr 1fr 1fr 1fr 1fr 1fr 2.5rem;
  gap: 1px;
  background-color: #d8d8d8;
  -webkit-clip-path: inset(0% 0% 1.875rem 0%);
          clip-path: inset(0% 0% 1.875rem 0%);
}

.fv__grid {
  background-color: #f5f5f5;
  height: 100%;
}

.fv__main-visual {
  position: absolute;
  top: -90px;
  top: -5.625rem;
  right: -184px;
  right: -11.5rem;
  width: 1075px;
  width: 67.1875rem;
  aspect-ratio: 1075/1972;
  z-index: 1;
}

.fv__main-visual-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fv__bg {
  position: absolute;
  top: 693px;
  top: 43.3125rem;
  left: -19px;
  left: -1.1875rem;
  width: 1950px;
  width: 121.875rem;
  height: 741px;
  height: 46.3125rem;
  z-index: 0;
}

.fv__bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fv__content {
  padding-top: 150px;
  padding-top: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 205px;
  gap: 12.8125rem;
}

.fv__catch {
  min-width: 710px;
  min-width: 44.375rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 164px;
  margin-bottom: 10.25rem;
}
.fv__catch span {
  display: inline-block;
}

.fv__catch-title {
  position: relative;
  z-index: 1;
}

.fv__catch-line {
  display: block;
}

.fv__catch-line--1 {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.fv__catch-line--2 {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  gap: 1rem;
}

.fv__catch-line--3 {
  margin-top: -10px;
  margin-top: -0.625rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.fv__catch-text {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 88.601px;
  font-size: 5.5375625rem;
  font-weight: 400;
  line-height: 1;
}

.fv__catch-text--white {
  color: #fff;
  line-height: 64px;
  line-height: 4rem;
}

.fv__catch-text--dark {
  color: #2c3240;
}

.fv__catch-text--accent {
  font-family: 'Alex Brush', cursive;
  font-size: 117.483px;
  font-size: 7.3426875rem;
  color: #bd4d51;
}

.fv__right {
  position: relative;
  z-index: 1;
}

.fv__text-right-desc {
  font-family: 'Noto Serif JP', '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', serif;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #2c3240;
  line-height: 1.8;
  letter-spacing: 0.16em;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

.fv__text-right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
  gap: 2.1875rem;
}

.fv__text-right-lead {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #2c3240;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fv__logo {
  display: block;
  width: 130px;
  width: 8.125rem;
  height: 136px;
  height: 8.5rem;
}

.fv__logo-img {
  width: 100%;
  height: 100%;
}

.read {
  margin-top: -30px;
  margin-top: -1.875rem;
  position: relative;
  z-index: 1;
  padding-top: 71px;
  padding-top: 4.4375rem;
  background-image: url("../images/read_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.read__inner {
  padding: 0 40px;
  padding: 0 2.5rem;
  max-width: 1920px;
  max-width: 120rem;
  margin-inline: auto;
}

.read__contents {
  display: grid;
  grid-template-columns: 17.1875rem 19.5625rem;
  gap: 32px 39px;
  gap: 2rem 2.4375rem;
}

.read__thumbnail {
  aspect-ratio: 275/344;
  max-width: 275px;
  max-width: 17.1875rem;
  margin-left: auto;
}

.read__thumbnail--right {
  grid-column: 2;
}

.read__text-left {
  max-width: 313px;
  max-width: 19.5625rem;
}

.read__text-left-desc {
  font-family: 'Noto Serif JP', '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', serif;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #fff;
  line-height: 2.12;
  letter-spacing: 0.11em;
}

.read__thumbnail-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=styles.css.map */
