@use 'global' as *;

.svg {
  .fv__icon {
    width: rem(500);
    margin-inline: auto;
    margin-top: rem(200);
  }

  .fv__icon-svg {
    opacity: 0;
    animation: svg-animation 1.2s cubic-bezier(0.01, 0.56, 0, 1) forwards;
  }

  .star {
    opacity: 0;
    animation: icon-animation 0.7s ease-in-out forwards;
    transform-origin: center;
    transform-box: fill-box;
  }
  .star:nth-of-type(1) {
    animation-delay: 0.3s;
  }
  .star:nth-of-type(2) {
    animation-delay: 0.4s;
  }
  .star:nth-of-type(3) {
    animation-delay: 0.5s;
  }
  .star:nth-of-type(4) {
    animation-delay: 0.6s;
  }
  .star:nth-of-type(5) {
    animation-delay: 0.7s;
  }

  .logo-mark {
    opacity: 0;
    animation: logo-mark-animation 0.7s ease-in-out forwards;
    animation-delay: 0.5s;
  }
}
