@use 'global' as *;

.top-content {
  overflow: hidden;
  --section-margin: rem(100);
}

// ===========================================
// ファーストビュー
// ===========================================

.fv {
  position: relative;
  z-index: 2;
  width: 100%;
}

.fv__inner {
  max-width: rem(1920);
  padding: 0 rem(40);
  margin-inline: auto;
}

.grids {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: rem(40) 1fr 1fr 1fr 1fr 1fr 1fr rem(40);
  gap: 1px;
  background-color: var(--gray);
  clip-path: inset(0% 0% rem(30) 0%);
}

.grid {
  background-color: var(--gray-light);
  height: 100%;
}

// 背景レイヤー
.fv__main-visual {
  position: absolute;
  top: rem(-90);
  right: rem(-184);
  width: rem(1075);
  aspect-ratio: 1075 / 1972;
  z-index: 1;
}

.fv__main-visual-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fv__bg {
  position: absolute;
  top: rem(693);
  left: rem(-19);
  width: rem(1950);
  height: rem(741);
  z-index: 0;
}

.fv__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// コンテンツレイヤー
.fv__content {
  padding-top: rem(150);
  display: flex;
  align-items: flex-end;
  gap: rem(195);
}

// ===========================================
// キャッチコピー
// ===========================================

.fv__catch {
  min-width: rem(700);
  width: fit-content;
  margin-bottom: rem(164);
  span {
    display: inline-block;
  }
}

.fv__catch-title {
  position: relative;
  z-index: 1;
}

.fv__catch-line {
  display: block;
}

.fv__catch-line--1 {
  margin-bottom: rem(20);
}

.fv__catch-line--2 {
  margin-bottom: rem(10);
  display: flex;
  align-items: center;
  gap: rem(16);
}

.fv__catch-line--3 {
  margin-top: rem(-10);
  margin-bottom: rem(20);
}

.fv__catch-text {
  font-family: var(--second-font-family);
  font-size: rem(88.601);
  font-weight: var(--regular);
  line-height: 1;
}

.fv__catch-text--white {
  color: var(--white);
  line-height: rem(64);
}

.fv__catch-text--dark {
  color: var(--base-color);
}

.fv__catch-text--accent {
  font-family: var(--accent-font-family);
  font-size: rem(117.483);
  color: var(--accent-color);
}

// ===========================================
// 右カラム
// ===========================================

.fv__right {
  position: relative;
  z-index: 1;
}

.fv__text-right {
}

.fv__text-right-desc {
  font-family: var(--base-font-family);
  font-size: rem(13);
  color: var(--base-color);
  line-height: 1.8;
  letter-spacing: 0.1em;
  margin-bottom: rem(30);
}

.fv__text-right-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(35);
}

.fv__text-right-lead {
  font-family: var(--second-font-family);
  font-size: rem(14);
  color: var(--base-color);
  line-height: 1.8;
  text-align: center;
  margin-bottom: rem(20);
  width: 50%;
  flex-grow: 1;
}

.fv__logo {
  display: block;
  width: rem(130);
  height: rem(136);
}

.fv__logo-img {
  width: 100%;
  height: 100%;
}

// ===========================================
// read セクション
// ===========================================

.read {
  margin-top: rem(-30);
  position: relative;
  z-index: 1;
  padding-top: rem(71);
  background-image: url('../images/read_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.read__inner {
  padding: 0 rem(40);
  max-width: rem(1920);
  margin-inline: auto;
}

.read__contents {
  display: grid;
  grid-template-columns: rem(275) rem(313);
  gap: rem(32) rem(39);
}

.read__thumbnail {
  aspect-ratio: 275 / 344;
  max-width: rem(275);
  margin-left: auto;
}

.read__thumbnail--right {
  grid-column: 2;
}

.read__text-left {
  max-width: rem(313);
}

.read__text-left-desc {
  font-family: var(--base-font-family);
  font-size: rem(13);
  color: var(--white);
  line-height: 2.12;
  letter-spacing: 0.11em;
}

.read__thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
