@use 'global' as *;
// ===========================================
// ヘッダー
// ===========================================

.header {
  position: fixed;
  z-index: 1000;

  top: rem(40);
  right: rem(0);
  z-index: 100;
}

.header__nav {
  background-color: var(--base-color);
  display: flex;
  align-items: center;
  padding: 0 rem(40);
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: rem(140);
    height: rem(2);
    background-color: var(--red);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  @media (any-hover: hover) {
    &:hover::after {
      opacity: 1;
    }
  }
}

.header__nav-link {
  display: block;
  padding: rem(13) rem(15);
  min-width: rem(140);
  text-align: center;
  font-family: var(--base-font-family);
  font-size: rem(16);
  color: var(--white);
  line-height: 1.8;
  transition: opacity 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.header__nav-item--active {
}

.header__nav-item--active::after {
}
